@font-face {
  font-family: "PalatinoLinotype-Roman";
  src: url("../fonts/9991.woff") format("woff"), url("../fonts/9991.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.title-big, .title-medium, .theme-and-reviews__card-num {
  font-family: "PalatinoLinotype-Roman"; }

.top-section, .theme-and-reviews {
  background-size: cover;
  background-repeat: no-repeat; }

html {
  scroll-behavior: smooth; }

body {
  color: #0D5699;
  font-family: 'Montserrat';
  font-size: 16px; }

p {
  margin-bottom: 0; }

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1370px; }

.bg-blue {
  background-color: #0D5699; }

.title-big {
  font-weight: 700;
  font-size: 36px; }

.title-medium {
  font-weight: 700;
  font-size: 32px; }

.title-top-section {
  line-height: 30px; }
  .title-top-section span {
    background-color: #0D5699;
    color: #fff;
    font-size: 26px;
    padding: 5px; }

.text-black {
  color: #000; }

.btn {
  width: 200px;
  text-align: center;
  padding: 15px 0;
  border-radius: 0; }
  .btn_blue {
    background-color: #0D5699;
    color: #fff !important;
    box-shadow: 0 0 10px rgba(13, 86, 153, 0.5); }
  .btn_white {
    background-color: #F9F9F9;
    color: #0D5699; }

.card {
  position: relative;
  background-color: #F8F8F8;
  padding: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); }
  .card__inner {
    border: 2px solid #0D5699;
    padding: 20px; }

.logo-img {
  width: 150px; }

.triangle {
  position: absolute;
  top: 29%;
  left: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #0D5699;
  border-bottom: 10px solid transparent; }
  .triangle::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 17px solid #F8F8F8;
    border-bottom: 15px solid transparent; }

.mobile-box-img {
  margin-bottom: 60px; }

.top-section {
  background-image: url(../img/top-section/bg.png);
  background-position-y: -340px; }
  .top-section_header {
    background-color: #0D5699; }
  .top-section .card {
    position: absolute;
    bottom: 270px;
    width: 90%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); }
    .top-section .card p {
      font-size: 12px; }
    .top-section .card__inner {
      padding: 10px; }

.card__text-name {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: -17px;
  font-style: italic;
  font-size: 12px; }

.questions-section .card {
  padding: 10px;
  margin-bottom: 15px; }
  .questions-section .card__inner {
    padding: 10px; }
  .questions-section .card p {
    font-size: 14px; }

.questions-section .triangle {
  left: 10px; }

.theme-and-reviews {
  background-image: url(../img/bg/theme-and-reviews.jpg); }
  .theme-and-reviews .card {
    width: 100%;
    height: 235px;
    margin: 20px 0; }
    .theme-and-reviews .card p {
      font-size: 14px; }
    .theme-and-reviews .card__inner {
      width: 100%;
      height: 100%; }
  .theme-and-reviews__p-col {
    padding-left: 0px;
    padding-right: 0px; }
  .theme-and-reviews__card-num {
    top: -15%;
    transform: translateY(-50%);
    left: 0;
    font-size: 64px !important;
    font-weight: 700; }

.reviews-text {
  margin: 0px; }
  .reviews-text__slide .card {
    width: 100%;
    margin-bottom: 45px;
    height: auto; }
  .reviews-text__slide .card:nth-child(odd) {
    margin-left: 0px; }

.reviews-video .card {
  width: 100% !important;
  height: 430px !important; }

footer .footer__title {
  line-height: 26px; }
  footer .footer__title span {
    font-size: 28px; }

.form input::-moz-placeholder {
  color: #fff;
  font-family: 'Montserrat'; }

.form input::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Montserrat'; }

.form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 90%;
  padding: 20px 0 20px 20px; }
  .form input:focus {
    outline: none; }

.avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  left: 40px;
  top: -30px; }
  .avatar img {
    width: 100%;
    height: 100%; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #0D5699; }

.slick-dots li button:before {
  color: #0D5699; }

.slick-prev:before, .slick-next:before {
  font-family: monospace; }

.slick-prev, .slick-next {
  top: 100%; }

.slick-prev:before {
  content: '<'; }

.slick-next:before {
  content: '>'; }

.slick-dots li button:before {
  font-size: 16px; }

.slick-prev:before, .slick-next:before {
  font-size: 44px; }
